@{
    ViewBag.Title = "View Creditors";
    Layout = "~/Views/Table/DataTableColumnFilter_LayoutPage.cshtml";
}



@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
@section head{

  
  
    <script language="javascript" type="text/javascript">

        $(document).ready(function () {

            // $('#myDataTable').dataTable({
            var oTable = $('#myDataTable').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                //"sAjaxSource": "scripts/server_processing.php"
                "sAjaxSource": "/Table/DataCreditorAction"

            });
           

            var oTableTools = new TableTools(oTable, {
                "buttons": [
                    "copy",
                    "csv",
                    "xls",
                    "pdf",
                    { "type": "print", "buttonText": "Print me!" }
                ]
            });
            
            $('#demo').before(oTableTools.dom.container);


        });
       

        //$(document).ready(function () {

        //    $.datepicker.regional[""].dateFormat = 'dd/mm/yy';
        //    $.datepicker.setDefaults($.datepicker.regional['']);

        //    var oTable = $('#myDataTable').dataTable({
        //        "bServerSide": true,
        //        "sAjaxSource": "/Table/DataCreditorAction",
        //        "bJQueryUI": true
        //    });

            

        //    oTable.columnFilter({
        //        aoColumns: [{ type: "text" },
        //                    { type: "text" },
        //                     { type: "text" },
        //                    { type: "select", values: ["TPS", "CPS", "Others"] },

        //                    ]
        //    });


        //});


    </script>

}

<div id="table">
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Card/Account No</th>
                <th>OS Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Card/Account</th>
                <th>OS Amount</th>
                <th>Status</th>
            </tr>
        </tfoot>
    </table>
</div>



